# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp

# dependencies
node_modules
jspm_packages
bower_components
node

# IDEs and editors
.idea
.vscode
.project
.classpath
.c9/
*.launch
.settings/

# misc
.sass-cache
connect.lock
coverage/*
libpeerconnection.log
npm-debug.log
testem.log
typings
src/**/*.js
!src/systemjs.config.extras.js
!src/systemjs.config.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
_test-output
_temp
debug.log

#OS Files
.DS_Store
Thumbs.db
